*{
	margin:0;
	padding: 0;
}
body{
	background-color: #f4f4f4;
	color: #555;
	font-family: Arial,Helvetica,sans-serif;
	line-height: 1.6em;
	font-size: 16px;
	counter-reset: myCounter 100;
	font-family: 'Open Sans Condensed', sans-serif;
}

.container{
	width:80%;
	margin: auto; 
	display: flex;
}

.main-header{
	background-color: #ff6600;
	color: #fff;
	height: 70px;
}
.main-header h1{
	padding-top: 20px;
	font-weight: 100;
	padding-bottom: 10px;
	font-family: 'Indie Flower', cursive;
}

/* Here's Navigation Bar starts!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.navbar{
	background-color: #323234;
	position: sticky;
	position: -webkit-sticky; /*Safari*/
	z-index: 1;
	top: 0;
	color: #fff;
	min-height: 70px;
	border-top: 1px #fff groove;
	border-bottom: 1px #fff groove;
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
}
.navbar ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;	
}

.navbar .mainNavLink {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	position: relative;
	text-align: center;
	font-weight: bold;
	padding: 23px;
	border-radius: 10%;
}

.mainNavLink:hover{
	background-color: #252527;
}

.mainNavLink:active{
	background-color: #ff6600;
}
.active{
	background-color: #ff6600;
	border-radius: 5%;
}
.active .mainNavLink{
	background-color: #ff6600;
}

/*Dropdown content!!!!!!!!!!!!!!!!*/
.dropdown-content{
	position: absolute;
	display:none;
	background-color: #f9f9f9;
	width: 200px;
}

.dropdown-content a {
	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}
.dropdown-content a:hover{
	background-color: #e6e6e6;
}

.dropdown:hover .dropdown-content{
	display: block;
}

/* HERE STARTS MAIN SECTION
FIRST IS TRANSLATE TRANSFORM!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.translateTrick{
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;	
	margin-bottom: 20px;
}
.translateTrick p{
	width: 90%;
	margin: auto;
	text-align: center;
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 10px;
}

.translateLeftSide{
	width:50%;
	height: 300px;
	border-right: 2px groove #ff6600;
}

.translateLeftSide p{
	background-image: url('../img/nature1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 50%;
	margin: auto;
	height: 100%;
	margin-top: 20px;
	padding: 5px;
	color: red;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	text-align: center;
	transition: transform 1.5s ease-out;
}
.translateLeftSide p:hover {
	-ms-transform: translate(500px); /* IE 9 */
  -webkit-transform: translate(500px); /* Safari */
	transform: translate(500px)
}
.translateTrick .translatePS{
	font-size: 18px;
	font-weight: 800;
}
/*ROTATE TRANSFORM SECTION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.rotate{
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.rotate p{
	width: 90%;
	margin: auto;
	text-align: center;
	font-size: 24px;
	font-weight: 800;
	margin-top: 15px;
}
.clockwise{
	width: 50%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
.clockwise p, .counter-clockwise p{
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 5px;
}
.clockwise img{
	width: 250px;
	height: 150px;
	transition: transform 1s ease-out;
}
.clockwise img:hover{
	-ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari */
	transform: rotate(180deg);
}
.counter-clockwise{
	width: 50%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
.counter-clockwise img{
	width: 250px;
	height: 150px;
	transition: transform 1s ease-out;
}
.counter-clockwise img:hover{
	-ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Safari */
	transform: rotate(-180deg);
}
/* SCALE TRANSFORM SECTION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.scale {
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}
.scale p{
	width: 90%;
	margin: auto;
	text-align: center;
	font-size: 24px;
	font-weight: 800;
}
.increase{
	width: 50%;
	display: flex;
	flex-flow: wrap column;
	align-items: center;
}
.increase p, .decrease p{
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 5px;
} 
.increase img{
	width: 300px;
	height: 150px;
	transition: transform .7s ease-out;
}
.increase img:hover{
	-ms-transform: scale(2,2);
	-webkit-transform: scale(2,2);
	transform: scale(2,2);
}
.decrease{
	width: 50%;
	display: flex;
	flex-flow: wrap column;
	align-items: center;
}
.decrease img{
	width: 300px;
	height: 150px;
	transition: transform 1s ease-in-out;
}
.decrease img:hover{
	-ms-transform: scale(0.7, 0.7);
	-webkit-transform: scale(0.7, 0.7);
	transform: scale(0.7, 0.7);
}
/* Skew TRANSFORM SECTION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.skew{
	width: 90%;
	margin: auto;
	margin-top: 20px;
}
.skew p{
	text-align: justify;
}
.skew em{
	font-style: normal;
	font-size: 24px;
	text-shadow: 2px 2px 5px red;
	transition: transform .2s linear;
}
.skew em:hover{
	display: inline-block;
	color: blue;
	-ms-transform: skewX(40deg);
	-webkit-transform: skewX(40deg);
	transform: skewX(40deg);
}

.skew strong{
	font-weight: normal;
	font-size: 24px;
	text-shadow: 2px 2px 5px blue;
	transition: transform .2s ease-in;
}

.skew strong:hover{
	display: inline-block;
	color: red;
	-ms-transform: skewY(10deg);
	-webkit-transform: skewY(10deg);
	transform: skewY(10deg);
}

/* MATRIX TRANSFORM SECTION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.matrix{
	width: 90%;
	margin: auto;
	margin-top: 30px;
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
	align-items: center;
}
.matrix h2{
	text-align: center;
	margin-bottom: 20px;
}
.matrix img{
	width: 600px;
	height: 300px;
	border: 2px inset grey;
	box-shadow: 5px 5px 10px;
	transition: transform 1s ease;
}
.matrix img:hover{
	-ms-transform: matrix(0.5, .5, .3, 0.5, .3, .4);
	-webkit-transform: matrix(0.5, .5, .3, 0.5, .3, .4);
	transform: matrix(.5, 0.9, -0.9, -0.5, 300, 0); /*matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY())*/
}
/* Footer!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.main-footer{
	margin-top: 40px;
	text-align: center;
	background-color: #323234;
	height: 100px;
	color: #fff;
	width: 100%;
}
.main-footer p{
	padding-top: 40px;
	font-weight: bold;
	font-size: 18px;
}
