
/*MAIN 3D ROTATE METHOD!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
main{
	width: 90%;
	margin: auto;
	display: flex;
	flex-flow: wrap row;
	justify-content: center;
	align-items: center;
}
main h1 {
	width: 100%;
	text-align: center;
	text-shadow: 4px 4px 8px;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.rotateX p, .rotateY p, .rotateZ p {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 600;
}
.rotateX{
	width: 50%;
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.rotateX img{
	width: 400px;
	height: 200px;
	border: 2px ridge #ff6600;
	transition: transform 1s ease-out;
}
.rotateX img:hover{
	transform: rotateX(540deg);
}
.rotateY{
	width: 50%;
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.rotateY img{
	width: 400px;
	height: 200px;
	border: 2px ridge #ff6600;
	transition: transform .4s ease-out;
}
.rotateY img:hover{
	transform: rotateY(130deg);
}
.rotateZ{
	width: 50%;
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
	align-items: center;
}
.rotateZ img{
	width: 400px;
	height: 200px;
	border: 2px ridge #ff6600;
	transition: transform .4s ease-out;
}
.rotateZ img:hover{
	transform: rotateZ(90deg);
}

