*{
	margin:0;
	padding: 0;
}
body{
	background-color: #f4f4f4;
	color: #555;
	font-family: Arial,Helvetica,sans-serif;
	line-height: 1.6em;
	font-size: 16px;
	counter-reset: myCounter 100;
	font-family: 'Open Sans Condensed', sans-serif;
}

.container{
	width:80%;
	margin: auto; 
	display: flex;
}

.main-header{
	background-color: #ff6600;
	color: #fff;
	height: 70px;
}
.main-header h1{
	padding-top: 20px;
	font-weight: 100;
	padding-bottom: 10px;
	font-family: 'Indie Flower', cursive;
}

/* Here's Navigation Bar starts!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.navbar{
	background-color: #323234;
	position: sticky;
	position: -webkit-sticky; /*Safari*/
	z-index: 1;
	top: 0;
	color: #fff;
	min-height: 70px;
	border-top: 1px #fff groove;
	border-bottom: 1px #fff groove;
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
}
.navbar ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;	
}

.navbar .mainNavLink {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	position: relative;
	text-align: center;
	font-weight: bold;
	padding: 23px;
	border-radius: 10%;
}

.mainNavLink:hover{
	background-color: #252527;
}

.mainNavLink:active{
	background-color: #ff6600;
}
.active{
	background-color: #ff6600;
	border-radius: 5%;
}
.active .mainNavLink{
	background-color: #ff6600;
}

/*Dropdown content!!!!!!!!!!!!!!!!*/
.dropdown-content{
	position: absolute;
	display:none;
	background-color: #f9f9f9;
	width: 200px;
}

.dropdown-content a {
	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}
.dropdown-content a:hover{
	background-color: #e6e6e6;
}

.dropdown:hover .dropdown-content{
	display: block;
}
/** main animation area!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@keyframes example {
	0% {background-color: green; top: 0px; left: 0px; transform: rotateZ(0deg); }
	5% {background-color: blue; transition: background-color .5s ease-out; top: 0px; left: 100px; transform: rotateZ(90deg); }
	10% {background-color: red; transition: background-color .5s ease-out; top: 0px; left: 200px; transform: rotateZ(180deg); }
	15% {background-color: orange; transition: background-color .5s ease-out; top: 0px; left: 300px; transform: rotateZ(270deg); }
	20% {background-color: yellow; transition: background-color .5s ease-out; top: 0px; left: 400px; transform: rotateZ(360deg); }
	25% {background-color: skyblue; transition: background-color .5s ease-out; top: 100px; left: 300px; transform: rotateZ(450deg); }
	30% {background-color: purple; transition: background-color .5s ease-out; top: 200px; left: 200px; transform: rotateZ(540deg); }
	35% {background-color: green; transition: background-color .5s ease-out; top: 300px; left: 100px; transform: rotateZ(630deg); }
	40% {background-color: blue; transition: background-color .5s ease-out; top: 400px; left: 0px; transform: rotateZ(720deg); }
	45% {background-color: red; transition: background-color .5s ease-out; top: 400px; left: 100px; transform: rotateZ(810deg); }
	50% {background-color: orange; transition: background-color .5s ease-out; top: 400px; left: 200px; transform: rotateZ(900deg); }
	55% {background-color: yellow; transition: background-color .5s ease-out; top: 400px; left: 300px; transform: rotateZ(990deg); }
	60% {background-color: skyblue; transition: background-color .5s ease-out; top: 400px; left: 400px; transform: rotateZ(1080deg); }
	65% {background-color: purple; transition: background-color .5s ease-out; top: 300px; left: 400px; transform: rotateZ(1170deg); }
	70% {background-color: green; transition: background-color .5s ease-out; top: 200px; left: 400px; transform: rotateZ(1260deg); }
	75% {background-color: blue; transition: background-color .5s ease-out; top: 100px; left: 400px; transform: rotateZ(1350deg); }
	80% {background-color: red; transition: background-color .5s ease-out; top: 0px; left: 400px; transform: rotateZ(1440deg); }
	85% {background-color: orange; transition: background-color .5s ease-out; top: 0px; left: 300px; transform: rotateZ(1530deg); }
	90% {background-color: skyblue; transition: background-color .5s ease-out; top: 0px; left: 200px; transform: rotateZ(1620deg); }
	95% {background-color: purple; transition: background-color .5s ease-out; top: 0px; left: 100px; transform: rotateZ(1710deg); }
	100% {background-color: green; transition: background-color .5s ease-out; top: 0px; left: 0px; transform: rotateZ(1800deg); }

}



main{
	width: 90%;
	margin: auto;
	margin-top: 30px;
	height: 550px;
}
main h1{
	text-align: center;
	margin-bottom: 20px;
}
.anime{
	width: 100px;
	height: 50px;
	margin-top: 40px;
	position: relative;
	text-align: center;
	background-color: #ace600;
	border-radius: 10%;
	animation: example 10s infinite linear;
}
.anime p{
	padding-top: 14px;
	color: #f1f1f1;
	font-size: 20px;
	font-weight: 800;
	font-family: 'Indie Flower', cursive;
}
/* Footer!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.main-footer{
	margin-top: 40px;
	text-align: center;
	background-color: #323234;
	height: 100px;
	color: #fff;
	width: 100%;
}
.main-footer p{
	padding-top: 40px;
	font-weight: bold;
	font-size: 18px;
}
