
/*HERE THE FORMS START!!!
/*HERE THE FORMS START!!!
/*HERE THE FORMS START!!!*/
.sign {
	width: 70%;
	margin: auto;
	text-align: center;
	margin-top: 20px;
	
}
.mainFormArea {
	width: 70%;
	margin: auto;
	background-color: #ff6600;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 15px;

}
.rowForm {
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
	margin-top: 10px;
	
}
.col-25 {
	width: 25%;
	text-align: right;
	color: white;
	padding-right: 20px;
	box-sizing: border-box;
}
.col-75 {
	width: 75%;	
}
.col-75 textarea{
	width: 80%;
	height: 100px;
	border-radius: 5px;
}

.col-75 input[type="text"], input[type="email"]{
	width: 80%;
	height: 30px;
	border-radius: 5px;
}

.checkYes, .checkMoreOrLess, .checkNo{
	color: white;
}

.col-75 input[type="number"], input[type="date"] {
	border-radius: 5px;
	width: 20%;
}

.col-75 input[type="file"] {
	width: 115px;
	height: 20px;
	color: black;
	border-radius: 5px;
}

.mainFormArea input[type="submit"] {
	width: 80%;
	height: 30px;
	border-radius: 5px;
	margin-top: 10px;
}